SOURCE_MONGODB_URI="mongodb+srv://USER:PASSWORD@HOST1/bmo-data?retryWrites=true&w=majority"
TARGET_MONGODB_URI="mongodb+srv://USER:PASSWORD@HOST2/bmo-data?retryWrites=true&w=majority"
DB_NAME="database_name"
BATCH_SIZE=500
DROP_TARGET=true
