DB_MIGRATE_SOURCE_TYPE=mongodb
DB_MIGRATE_SOURCE_URL=mongodb://localhost:27017
DB_MIGRATE_SOURCE_DATABASE=source_database

DB_MIGRATE_TARGET_TYPE=postgres
DB_MIGRATE_TARGET_URL=postgresql://postgres:postgres@localhost:5432/target_database
DB_MIGRATE_TARGET_SCHEMA=public

DB_MIGRATE_BATCH_SIZE=500
DB_MIGRATE_RESUME=true
